:root {
    --bg: #1a1825;
    --text: #d5d4eb;
    --accent: #eb6f93;
}

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#title {
  font-size: 64px;
  font-weight: 700;
  color: var(--accent);
}

